{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>Course Lectures</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/courselectures.css' %}">
    <script src="https://kit.fontawesome.com/216645962a.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <div class="container">
      <div class="header">
        <h1>{{object.name}} Lectures</h1>
        <a href="{% url 'course-update' object.id %}"> <i class="fas fa-edit"></i> Edit</a>

      </div>

      <button class="add-lecture-button" id="newCourse">
  <span class="button-icon"><i class="fas fa-book"></i></span>
        Start New Lecture
      </button>
              
      {% for lecture in object.lecture.all %}
        <div class="new-course">
      </div>
        <div class="lectures">
                <div class="lecture">
                    <span class="name"> {{lecture.name}}</span>
                    <span class="date"> {{lecture.data}}</span>
                    <span class="attendance"> {{lecture.user.count}}/{{course.user.count|add:"-1"}}</span>
                    <a href="{% url 'lecture-detail' lecture.id %}" class="btn attendance-button">
                      <i class="fas fa-user"></i> Attendance
                  </a>
                </div>
       </div>

       {% endfor %} 
    </div>
    <a href="{% url 'instructor-dashboard' %}" class="back-button"><i class="fas fa-arrow-left"></i>Back</a>
    <script>
      const newCourseBtn = document.getElementById('newCourse');
      newCourseBtn.addEventListener('click', () => {
          window.location.href = "{% url 'start-model' id=object.id %}";
      });

  </script>
  </body>
</html>
