
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
h1{
    text-align: center;
    height:50px;
    width: 100%;
    padding-top:10px;
    margin-bottom: 20px;
    background-color:#12566a;
    color: white;
    border-radius: 5px;
}

.new_lecture{
    border: none;
    color: rgb(8, 8, 8);
    padding: 10px 20px;
    background-color: lightcoral;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
}

.lecture{
    position: relative;
    left: 4%;
    right: 4%;
    width: 92%;
    height:45px;
    padding-top:15px;
    margin-bottom: 10px;
    background-color: #98d5e7;
    border-radius: 5px;
    border: 1px solid black;
}

.lecture .name{
    position: relative;
    left: 2%;
    font-size: 15px;
    font-weight: 600;
}
.lecture .date{
    position: absolute;
    left:45%;
}

.lecture .attendance{
    position: absolute;
    left:75%;
    
}
.lecture .btn{
    position: absolute;
    right:2%;
    top:20%;
    padding:10px;
}
.btn{
    background-color: #98d5e7;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid white;
}
.btn:hover{
    background-color: #c6ebf6;
}

.add-lecture-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 15px 20px;
    background-color: #98d5e7;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
    margin-left: 36px;
  }
  
  .add-lecture-button .button-icon {
    margin-right: 5px;
  }
  
  .add-lecture-button:hover {
    background-color: #7ac6dc;
  }
  